body{
    background-color: #e8e8e8;
}
.main-content .navbar-top {
	position: sticky;
	z-index: 99999999;
	z-index: 1;
}
.pdt_lists_img {
	width: 50px;
}
.pdt_list_tbl {
	width: 100%;
}
.pdt_list_tbl th {
	text-align: center;
}
.pdt_list_tbl th:first-child {
	text-align: center;
}
.pdt_list_tbl td {
	padding: 2px 4px;
}
.pdt_list_tbl td.tbl_image {
	text-align: center;
}
.tbl_sl {
	text-align: center;
}
#uploadImagePreview{
	border: 1px solid gray;
	margin-top: 5px;
	width: 100%;
	height: 200px;
	border-radius: 5px;
}
.paddingLR0 {
	padding-left: 0px;
	padding-right: 0px;
}
.marginLR0 {
	margin-left: 0px;
	margin-right: 0px;
}
.mL0 {
	margin-left: 0px;
}
.mR0 {
	margin-right: 0px;
}
.pL0 {
	padding-left: 0px;
}
.pR0 {
	padding-right: 0px;
}

.main-content .navbar-top {
  background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;
}
.product-entry,
.product-view {
  position: relative;
  padding-top: 30px;
}
.subres {
  height: 45px;
  text-align: center;
  margin-top: 45px;
}
.subres button:first-child{
  margin-right: 1.6rem;
}
.product-show {
  border-left: 5px solid gray;
}
#saveBtn,
#reset_product_entry,
#updateBtn,
#update_cancel,
#reset_cancel_supplier,
#reset_cancel_purchase,
#reset_cancel_purchase,
#reset_cancel_store,
#saveBtnCustomer,
#reset_cancel_customer {
	width: 200px;
}
#saveBtn,
#updateBtn,
#saveBtnCustomer {
	margin-right: 2rem
}
.msgAlert {
	width: 500px;
	position: fixed;
	right: 40px;
	top: 90px;
	z-index: 99;
}
.validationErr{
	color: #F55;
	font-size: 14px;
	margin-bottom: 0px;
}
.tbl_hr {
	margin: 0px;
}
.order_input {
	width: 100%;
	border: 1px solid rgba(0,0,0,.05);
	background-color: transparent;
	padding: 0px 5px;
	color: #8898aa;
}
.inp_additional_price,
.inp_total_price {
	background-color: #d5d5d58c;
}
.order_input_vat {
	width: calc(100% - 20px);
	border: 1px solid rgba(0,0,0,.05);
	background-color: transparent;
	padding: 0px 5px;
	color: #8898aa;
}
.order_input:focus,
.order_input_vat:focus {
	background-color: lightgray;
}
.order_entry_tbl{
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 10px;
}
.order_entry_tbl td {
	padding: 0px 4px;
}
.order_entry_tbl th {
	text-align: center;
}
.order_product_img {
	width: 42px;
}
.delet-icon {
	width: 20px;
	position: relative;
	top: -3px;
	cursor: pointer;
}
.po_summary {
	width: 400px;
	/*height: 50px;*/
	float: right;
	margin-right: 60px;
	/*border: 1px solid gray;*/
}
.k-control {
	width: 100%;
	float: left;
	margin-bottom: 5px;
}
.k-label {
	width: 60%;
	float: left;
	text-align: right;
	padding: 2px 40px 2px 4px;
}
.k-field {
	width: 40%;
	border: 1px solid rgba(0,0,0,.05);
	padding: 2px 4px;
	float: left;
	box-sizing: border-box;
	color: #8898aa;
	background-color: transparent;
}
.k-field-vat {
	width: 40%;
	/*border: 1px solid rgba(0,0,0,.05);*/
	padding: 2px 0px;
	float: left;
	box-sizing: border-box;
}
#product_list_err {
	color: #F55;
}
.popupCon {
	position: fixed;
	top: 0px;
	padding-left: 250px;
	/*padding-bottom: 250px;*/
	/*width: calc(100% - 250px);*/
	width: 100%;
	height: 100%;
	/*border: 1px solid red;*/
	overflow-y: scroll;
	z-index: 9;
	background-color: rgba(0,0,0,.3);
	display: none;
}
.order-details {
	position: relative;
	top: 80px;
	width: 80%;
	/*border: 1px solid red;*/
	border-radius: 5px;
	margin: 0px auto 150px;
	/*background-color: #FFF;*/
	background-color: #E8E8E8;
	padding: 20px;
}
.pofield_set {
	border: 1px solid gray;
	border-radius: 5px;
	min-height: 200px;
	margin-top: 50px;
}
.bar {
	background-color: gray;
	border-radius: 5px 5px 0px 0px;
	height: 30px;
}
.po-head {
	padding: 0px 15px;
	height: 175px;
}
.po-table {
	padding: 0px 15px 15px;
}
.po-labels {
	width: 25%;
	float: left;
	margin-top: 15px;
	height: 24px;
}
.po-details-tbl{
	width: 100%;
	margin-bottom: 40px;
}
.po-details-tbl tr th {
	/*text-align: center;*/
}
.close-order-details {
	position: absolute;
	top: 15px;
	right: 15px;
}
.po-close-btn {
	float: right;
	height: 41px;
}
.po-footer{
 	text-align: right;
 	height: 42px;po-footer
}
.footer {
	padding-left: 40px;
	padding-right: 40px;
	/*border: 1px solid red;*/
}
.stockreset {
	text-align: center;
}
.boderset {
	border: 1px solid #9400FF7D;
	border-radius: 5px;
	padding-top: 1.5rem;
}
